* {
  text-align: center;
  font-family: Helvetica;
}

header {
  background-image: url("../images/the-flatiron-building.jpg");
}

a {
  font-size: 18px;
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 23px;
  font-weight: bold;
}

#process {
  font-size: 32px;
}

.details {
  font-size: 14px;
}

#newYork {
  background-image: url("../images/the-flatiron-building.jpg");
  color: white;
}

#footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
